body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: black;
  
}
ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

}
button{
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
.acon{
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  flex-direction: column;
  gap: 10px;
  background: rgb(236,195,159);
background: linear-gradient(56deg, rgba(236,195,159,1) 0%, rgba(181,168,65,0.593723158208596) 48%, rgba(195,118,199,1) 100%);
}
.bcon{
  padding-left: 0;
  padding-right: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #615EFC;
  padding: 0;
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.bcon::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.navcon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}
.navmobilecon,.navconmobileasb,.navconmobileaff{
  display: none;
}
.pills-contact-tab{
  color: #fff;
}
.navcon li{
  background-color: #4BCBCB;
  display: flex;
    border-radius: 7px;
    margin: 10px 10px;
    background-color: #4BCBCB;
}



/* 3rd container */
.ccon{
  height: 100vh;
  width: 100%;
  grid-template-columns: 3fr 2fr 5fr 2.9fr 2.1fr; /* Responsive columns */
  display: grid;
  padding: 0;
  overflow-x: hidden;
  gap: 10px; /* Optional gap between columns */
}




/* contents */
.content{
  height: auto;
  padding: 0;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.container_post{
  margin-top: 10px;
  padding: 0;
  height: 100vh;
  max-height:85vh;
  width: 100%;
  max-width: 100vh;
  background-color: #fff;
  border-radius: 10px;
}
.name{
  gap: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  height: 10%;
  max-height: 10%;
  width: 100%;
  padding: 0;
}
.image{
  height: 60vh;
  max-height: 60vh;
  width: 100%;
  padding: 0;
}
.image::after{
  width: 90%;
  border-bottom: 1px solid #dadde1;  
  display: flex;
  margin-left: 5%;
  content: '';
}
/* .image::before{
  width: 90%;
  border-bottom: 1px solid #dadde1;  
  display: flex;
  margin-left: 5%;
  content: '';
} */
.image_container{
  height: 100%;
  width: 100%;
  padding: 0;
  max-height: 100vh;
  max-width: 100%;
  padding: 0;
}
.image_container img{
  height: 100%;
  width: 100%;
  padding: 0;
  max-height: 100vh;
  object-fit: contain;
  max-width: 100%;
  padding: 0;
}
.heart{
  height: 6vh;
  width: 100%;
  max-height: 6vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.thethree{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;

}
.puso{
  width: 20%;
  max-width: 20%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.comment{
  width: 20%;
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}
.share{
  width: 20%;
  max-width: 20%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.collection {
  display: flex;
  align-items: center;
  padding: 0;
}
.save {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.bookmarkicon{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
}
.line{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dadde1;
}
.container_cap{
  height: 10vh;
  max-height: 80px;
  width: 100%;
  max-width: 500px;
}
.caption{
  margin-top: 5px;
  height: auto;
  max-height: 60px;
  padding: 0;
}
.lgyan{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
}
.prof_pic{
  height: 100%;
  max-width: 9vh;
  width: 9vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.pangalan{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dots{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 13%;
}
.dot{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
}
.picture{
  height: 60vh;
  width: 60vh;
}










/* side nav */
.sidenav{
  height: auto;
  align-items: center;
  background-color: #fff;
  padding: 0;
}
.considenav{
  max-height: 87vh;
  min-height: 87vh;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 0fr 1fr 1fr;
  align-items: center;
  padding: 0;
  gap: 10px;
}
.features{
  border-radius: 10px;
  height: 10%;
  width: 100%;
  padding-right: 0;
}
.linesidenav{
  border-bottom: 1px solid #dadde1;
}
.profile{
  height: 100%; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.contprofname{
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 30px #aaaaaa;
}
.profile a{
  height: 80%;
  width: 70%;
  text-decoration: none;
}
.profilepicture{
  height: 60%;
  width: 45%;
  padding: 0;
  object-fit: contain;
}
.profilepicture img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.nameusername{
  display: flex;
  padding: 0;
  flex-direction: column;
}
.username, .nameko{
  display: flex;
  justify-content: center;
}
.logout{
  border-top: 1px solid #dadde1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contbuttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-right: 0;
}
.buttonlinks ul li a .container-fluid{
  display: flex;
  align-items: center;
}
.dropup{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropup .btn .container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}
.dropup .btn{
  background-color: #615EFC;
}
.dropup .btn:hover{
  background-color: #4E4BCB;
}
.dropup .dropdown-menu .logoutbut:hover, .dropup .dropdown-menu .dropdown-item:hover {
  background-color: #F0F0F0;
}
.btn-group.dropup .dropdown-toggle::after {
  display: none;
}
.dropup ul li{
  height: 3rem;
  width: 100%;
}
.buttonlinks{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100%;
  width: 100%;
  padding: 0;
}
.buttonlinks ul li, .logoutbut{
  height: 3rem;
  width: 100%;
}
.buttonlinks ul li a .container-fluid:hover, .services a:hover{
  background-color: #F0F0F0;
  border-radius: 10px 0 0 10px;
}
.buttonlinks ul li a{
  text-decoration: none;
  color: black;
}
.logoutcont{
  width: 90%;
}
.logoutbut{
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 1px;
}
.settings,
.services,
.collect,
.notification,
.post, .dropdown-toggle,
.dropdown-item{
  width: 100%;
  height: 100%;
}
.dropdown-toggle::after {
  display: none;
}
.services a .container{
  width: 100%;
  padding: 0;
}
.services a{
  display: flex;
  align-items: center;
}
.dropdown-menu .dropdown-item{
  display: flex;
  align-items: center;
}
.dropdown-menu li a .container, .dropdown-menu li button{
  display: flex;
  justify-content: center;
}








/* olservices */
.olservices{
  height: 100%;
  border-radius: 10px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.conolservice{
  display: grid;
  grid-template-rows: 2fr 2fr;
  align-items: center;
  align-content: center;
  max-height: 10%;
  min-height: 80vh;
  width: 100%;
  margin: 0;
}
.cvsustore, .books{
  max-height: 20vh;
  min-height: 30vh;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}











/* ************************************************text post content ****************************************************/
.containertextpostpost{
  margin-top: 10px;
  padding: 0;
  height: 28vh;
  max-height: 30vh;
  width: 100%;
  max-width: 100vh;
  background-color: #fff;
  border-radius: 10px;
}
.nametextpost{
  gap: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  height: 25%;
  width: 100%;
  padding: 0;
}
.captiontextpost{
  height: 15vh;
  max-height: 20vh;
  width: 100%;
}
.captiontextpost::after{
  width: 100%;
  border-bottom: 1px solid #dadde1;  
  display: flex;
  content: '';
}
.textcontainerpost{
  height: 100%;
  width: 100%;
  padding: 0;
  max-height: 100vh;
  max-width: 100%;
}































/* for mobile devices */
@media (max-width: 768px) {
  .ccon {
    grid-template-columns: 1fr;
  }
  .navcon{
    display: none;
  }
  .sidenav, .olservices {
    display: none;
  }
  .services a .container{
    padding: 10px;
  }
  .carousel-control-prev, .carousel-control-next{
    display: none;
  }
  .navmobilecon{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
  }
  .bcon{
    height: 10vh;
    display: flex;
    overflow: hidden;
  }
  .considenav{
    grid-template-rows: 3fr 0fr 0fr 3fr;
    overflow: hidden;
  }
  .contprofname{
    width: 90%;
  }
  .logout{
    height: 40%;
  }
  .navconmobileaff{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navconmobileasb{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nfmobile li{
    display: flex;
    border-radius: 10px;
    margin: 10px 10px;
    background-color: #4BCBCB;
  }
}


/* for ipad prtrait */
@media (min-width: 768px) and (max-width: 1024px) {

  .considenav{
    min-height: 0vh;
  }
  .considenav{
    max-height: 50px;
    min-height: 70vh;
    grid-template-rows: 5fr 3fr 6fr 10fr;
  }
  .ccon{
    grid-template-columns: 4fr 0fr 6fr 0fr 3fr;
  }
  .profile{
    margin-top: 30px;
    padding: 0;
  }
  .container_post{
    margin-top: 10px;
    padding: 0;
    height: 100vh;
    max-height:62vh;
    width: 100%;
    max-width: 100vh;
    /* background-color: #fff; */
    border-radius: 10px;

  }
  .image{
    height: 40vh;
    max-height: 60vh;
    width: 100%;
    padding: 0;
  }
  .name{
    height: 10%;
    max-height: 10%;
    width: 100%;
  }
  .ipadname1{
    font-size: 14px;
  }
  .ipadname2{
    font-size: 10px;
  }
  .prof_pic{
    max-width: 8vh;
    width: 8vh;
  }
.puso, .share, .comment, .bookmarkicon{
  font-size: 20px;
}
.nametextpost{
  gap: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  height: 25%;
  width: 100%;
  padding: 0;
}
.pangalantextpost{
  font-size: 14px;
}
.timetextpost{
  font-size: 10px;
}
.captiontextpost{
  height: 15vh;
  max-height: 20vh;
  width: 100%;
}
.nametext{
  font-size: 14px;
}
.timetext{
  font-size: 10px;
}
}

/* for ipad landscape */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  
  .considenav{
    max-height: 50px;
    min-height: 70vh;
    grid-template-rows: 10fr 1fr 5fr 8fr;
  }
  .ccon{
    grid-template-columns: 3fr 1fr 5fr 0fr 3fr;
  }
  .profilepicture{
    height: 50%;
    width: 25%;
    padding: 0;
    object-fit: contain;
  }
}