body {
    height: 100%;
    width: auto;
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    background: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);
  
  }
  .bod2{
    height: 100%;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .container-form{
    margin: 0;
    padding: 0;
  }
  .column1{
    height: 130%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0; 
  }
  .column2{
    height: 20%;
    margin: 0;
    padding: 0;
  }
  .container2{  
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .row-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: row; 
  }
  .col-form{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-form{
    margin: 0;
    padding: 0;
    height: 70%;
    width: 70%;
  }
  .form-container1{
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 30px #aaaaaa;
  }
  .form-container2{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-grow: 4;
    align-content: space-around;
    align-items: flex-start;
  }
  .form-container3{
    margin: 0;
    padding: 0;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-group{
    margin: 0;
    padding: 0;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  .toggle-password{
    cursor: pointer;
  }
  .line{
    border-bottom: 1px solid #dadde1;
    width: 100%;
  }
  .form-group input{
    height: 50px;
  }
  .btn{
    height: 20%;
    width: 100%;
  }
  .form-container3{
    height: 50%;
  }
  #btn-signup{
    height: 40%;
    background-color: #00A400;
    border: none;
  }
  /* Fade in and out transitions for the alert */
  .alert {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .alert.show {
    opacity: 1;
  }
  .alert-container {
            height: 30px; /* Adjust this height according to your design */
        }
  






/* register css */
#btn-signup2{
  background-color:#00A400;
  border:none;
}
.gender-register{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-check-input{
  border: 1px solid black;
}
.genderinput{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.air-datepicker {
  z-index: 1251; 
}
.air-datepicker-overlay {
  display: none !important;
}
.input_el__l_VZt{
width: 100%;
height: 100%;
border: none;
padding-left: 10px;
}
.dateinput{
height: 5vh;
padding: 0;
width: 100%;
border-radius: 5px;
width: 100%;
border: 1px solid #dadde1;
}









  
  /* responsive for phones */
  @media (max-width: 768px) {
    .row-form {
        flex-direction: column;  /* Stack rows as columns on smaller screens */
    }
    .container-form{
      height: 150%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .btn{
        height: 15%;
        width: 100%;
    }
    .form-container3{
        height: 35%;
    }
    
  }
  
  /* landscape */
  @media (max-width: 768px) and (orientation: landscape) {
    .row-form {
        flex-direction: row; /* Revert to rows in landscape orientation */
    }
  }
