.modal-body{
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  border-radius: 8px;
}
.bodymodalprof{
  height: 70vh;
  width: auto;
  
}
.coverphotoprof{
  height: 70%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 0;
}
.coverphoto{
  position: relative;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.coverphotoblurd{
  position: absolute;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.996) 100%);
  padding: 0;
}
.profilemodal{
  position: absolute;
  height: 25vh;
  width: 25vh;
  border: 1px solid red;

}
.imgcoverdiv{
  position: absolute;
  padding: 0;
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}.imgcoverdiv img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.btncloseprof{
  position: absolute;
  right: 7%;
  top: 1%;
  font-size: 0;
}
.btncloseprof::before {
  content: '\00d7';
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 20%;
}


.nbp{
  height: 30%;
  border: 1px solid rgb(19, 22, 226);
}
/* .btncloseprof{
  position: absolute;
  left: 92%;
  top: 2%;
  font-size: 0.1px;

}
.btncloseprof::before {
  content: '\00d7';
  font-size: 1.5rem;
  color: white; 
} */

